@if (backdrop) {
  <p-sidebar-backdrop />
}

<p-sidebar
  [variant]="variant"
  [collapsible]="collapsible"
  [side]="side"
  [overlay]="overlay"
  [openOnHover]="openOnHover"
>
  <p-sidebar-spacer />
  <p-sidebar-aside>
    <p-sidebar-panel>
      <p-sidebar-header>
        <p-sidebar-menu>
          <p-sidebar-menu-item>
            <span class="sidebar-title">Gestão Fácil</span>
          </p-sidebar-menu-item>
        </p-sidebar-menu>
      </p-sidebar-header>
      <p-sidebar-content>
        <p-sidebar-menu>
          @for (item of items(); track item.label) {
            <p-sidebar-menu-item>
              <button pSidebarMenuButton [isActive]="!!item.isActive" [routerLink]="item.url">
                <span class="material-symbols-outlined">{{ item.icon }}</span>
                <span>{{ item.label }}</span>
              </button>
            </p-sidebar-menu-item>
          }
        </p-sidebar-menu>
      </p-sidebar-content>
      <p-sidebar-footer>
        <p-sidebar-menu>
          @for (item of footerItems(); track item.label) {
            <p-sidebar-menu-item>
              <button pSidebarMenuButton [isActive]="!!item.isActive" [routerLink]="item.url">
                <span class="material-symbols-outlined">{{ item.icon }}</span>
                <span>{{ item.label }}</span>
              </button>
            </p-sidebar-menu-item>
          }
        </p-sidebar-menu>
      </p-sidebar-footer>
    </p-sidebar-panel>
  </p-sidebar-aside>
</p-sidebar>
