:host {
  display: contents;
}

.sidebar-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.p-sidebar-header,
.p-sidebar-footer {
  padding: 0.75rem;
}

.p-sidebar-content {
  padding: 0.5rem 0.75rem;
}

.p-sidebar-menu {
  gap: 0.5rem;
}
